{% extends 'base.html.twig' %}

{% block title %}Cojob Nantes - {{ 'security.password_reset.title'|trans }}{% endblock %}

{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <img class="img-fluid" src="{{ asset('build/images/logo.png') }}" alt="Cojob Nantes">
        </div>

        <div class="login-box-body">

            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <h1>{{ 'security.password_reset.title'|trans }}</h1>

            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    {{ 'security.password_reset.message'|trans }}
                </small>
            </div>

            <button class="btn btn-primary">{{ 'security.password_reset.btn_submit'|trans }}</button>
            {{ form_end(requestForm) }}
        </div>
    </div>

{% endblock %}
