{% extends 'base.html.twig' %}

{% block title %}Cojob Nantes - {{ 'security.password_change.title'|trans }}{% endblock %}

{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <img class="img-fluid" src="{{ asset('build/images/logo.png') }}" alt="Cojob Nantes">
        </div>

        <div class="login-box-body">
            <h1>{{ 'security.password_change.title'|trans }}</h1>

            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-primary">{{ 'security.password_change.btn_submit'|trans }}</button>
            {{ form_end(resetForm) }}
        </div>
    </div>
{% endblock %}
