{% extends 'base_front.html.twig' %}

{% block title %}{{ 'partners.title'|trans }}{% endblock %}

{% block description %}{{ 'partners.description'|trans }}{% endblock %}

{% block canonical %}{{ absolute_url(path('partners')) }}{% endblock %}

{% block content %}
    <div class="one-page partners-page row parallax">
        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
            <div class="content">
                <div class="row">
                    <div class="col-12 col-md-3 text-center">
                        <a href="https://www.ecossolies.fr/" target="_blank" rel="noopener noreferrer">
                            <picture>
                                <source
                                    srcset="{{ asset('img/logo_partners/logo_Ecossolies-100.avif') }} 100w"
                                    sizes="100px"
                                    type="image/avif"
                                >
                                <source
                                    srcset="{{ asset('img/logo_partners/logo_Ecossolies-100.webp') }} 100w"
                                    sizes="100px"
                                    type="image/webp"
                                >
                                <img 
                                    src="{{ asset('img/logo_partners/logo_Ecossolies.png') }}"
                                    class="img-fluid"
                                    alt="Les écossolies"
                                    width="100"
                                    height="100">
                            </picture>
                        </a>
                    </div>
                    <div class="col-12 col-md-9">
                        <p>
                            Le réseau des Ecossolies a été créé en 2004 et regroupe plus de 600 associations, mutuelles,
                            coopératives et entreprises à buts sociaux, qui se reconnaissent dans l'ESS (économie sociale et
                            solidaire).
                        </p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 col-md-3 text-center">
                        <a href="https://collectif-emploi.fr/" target="_blank" rel="noopener noreferrer">
                            <picture>
                                <source
                                    srcset="{{ asset('img/logo_partners/logo_collectif_emploi-100.avif') }} 100w"
                                    sizes="100px"
                                    type="image/avif"
                                >
                                <source
                                    srcset="{{ asset('img/logo_partners/logo_collectif_emploi-100.webp') }} 100w"
                                    sizes="100px"
                                    type="image/webp"
                                >
                                <img 
                                    src="{{ asset('img/logo_partners/logo_collectif_emploi.png') }}"
                                    class="img-fluid"
                                    alt="Collectif emploi"
                                    width="100"
                                    height="100">
                            </picture>
                        </a>
                    </div>
                    <div class="col-12 col-md-9">
                        <p>
                            Le Collectif Emploi de Nantes est un réseau d’une vingtaine de structures. Il accompagne
                            des chercheurs d’emploi et des créateurs de projet vers l’emploi salarié et/ou la création
                            d’entreprise. La volonté des structures membres est d’agir ensemble, en complément du
                            service public de l’emploi afin de ne laisser personne seul et sans solution dans sa
                            recherche d’emploi.
                        </p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 col-md-3 text-center">
                        <a href="https://lacravatesolidaire.org/nantes" target="_blank" rel="noopener noreferrer">
                            <picture>
                                <source
                                    srcset="{{ asset('img/logo_partners/logo_la_cravate_solidaire-100.avif') }} 100w"
                                    sizes="100px"
                                    type="image/avif"
                                >
                                <source
                                    srcset="{{ asset('img/logo_partners/logo_la_cravate_solidaire-100.webp') }} 100w"
                                    sizes="100px"
                                    type="image/webp"
                                >
                                <img 
                                    src="{{ asset('img/logo_partners/logo_la_cravate_solidaire.png') }}"
                                    class="img-fluid"
                                    alt="La cravate solidaire"
                                    width="100"
                                    height="100">
                            </picture>
                        </a>
                    </div>
                    <div class="col-12 col-md-9">
                        <p>
                            La Cravate Solidaire accompagne individuellement, de façon ludique et bienveillante, des
                            personnes en situation d'exclusion sociale et professionnelle depuis 2012. Sa mission est de
                            lutter contre les discriminations à l'embauche et favoriser la réinsertion par l'emploi.
                        </p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 col-md-3 text-center">
                        <a href="https://atelierdesinitiatives.org/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ asset('images/logo_atelier_initiatives.svg') }}"
                                 class="img-fluid"
                                 alt="L'atelier des initiatives">
                        </a>
                    </div>
                    <div class="col-12 col-md-9">
                        <p>
                            L'atelier des initiatives est une association d’éducation populaire qui accompagne les
                            jeunes dans leurs projets et leur curiosité culturelle.
                        </p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 col-md-3 text-center">
                        <a href="https://www.lesdetermines.fr/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ asset('img/logo_partners/logo_les_determines.webp') }}"
                                 class="img-fluid"
                                 alt="Les déterminés">
                        </a>
                    </div>
                    <div class="col-12 col-md-9">
                        <p>
                            Les Déterminés est une association qui lutte contre le déterminisme économique et social.
                        </p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 col-md-3 text-center">
                        <picture>
                            <source
                                srcset="{{ asset('img/logo_partners/logo_ville_de_nantes-300.avif') }} 300w, 
                                {{ asset('img/logo_partners/logo_ville_de_nantes-630.avif') }} 630w, 
                                {{ asset('img/logo_partners/logo_ville_de_nantes-170.avif') }} 170w"
                                sizes="(max-width: 768px) 100vw, 25vw"
                                type="image/avif"
                            >
                            <source
                                srcset="{{ asset('img/logo_partners/logo_ville_de_nantes-300.webp') }} 300w, 
                                {{ asset('img/logo_partners/logo_ville_de_nantes-630.webp') }} 630w, 
                                {{ asset('img/logo_partners/logo_ville_de_nantes-170.webp') }} 170w"
                                sizes="(max-width: 768px) 100vw, 25vw"
                                type="image/webp"
                            >
                            <img 
                                src="{{ asset('img/logo_partners/logo_ville_de_nantes.jpg') }}"
                                srcset="{{ asset('img/logo_partners/logo_ville_de_nantes-300.jpg') }} 300w, 
                                {{ asset('img/logo_partners/logo_ville_de_nantes-630.jpg') }} 630w, 
                                {{ asset('img/logo_partners/logo_ville_de_nantes-170.jpg') }} 170w"
                                sizes="(max-width: 768px) 100vw, 25vw"
                                class="img-fluid"
                                alt="Ville de Nantes"
                                width="280"
                                height="125">
                        </picture>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 col-md-3 text-center">
                        <img src="{{ asset('images/logo_nantes_metropole.svg') }}"
                             class="img-fluid"
                             alt="Nantes métropole">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
