{% extends 'base.html.twig' %}

{% block title %}Cojob Nantes - Se connecter{% endblock %}

{% block meta %}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <picture>
                <source
                    srcset="{{ asset('img/main/logo-400.avif') }} 400w, 
                    {{ asset('img/main/logo-200.avif') }} 200w"
                    sizes="(max-width: 400px) 100vw, 360px"
                    type="image/avif"
                >
                <source
                    srcset="{{ asset('img/main/logo-400.webp') }} 400w, 
                    {{ asset('img/main/logo-200.webp') }} 200w"
                    sizes="(max-width: 400px) 100vw, 360px"
                    type="image/webp"
                >
                <img
                    src="{{ asset('img/main/logo.png') }}"
                    alt="Cojob Nantes"
                    class="img-fluid"
                    width="360"
                    height="121"
                >
            </picture>
        </div>

        <div class="login-box-body">

            <h3 class="login-box-msg">{{ 'security.login.title'|trans }}</h3>

            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form action="{{ path('app_login') }}" method="post">

                <div class="input-group mb-2">
                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                    <input type="text" class="form-control" id="username"  name="_username" value="{{ last_username }}" required="required" placeholder="Nom d'utilisateur">
                </div>

                <div class="input-group mb-2">
                    <div class="input-group-text"><i class="fas fa-lock"></i></div>
                    <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="Mot de passe">
                </div>

                <input type="hidden" name="_target_path" value="{{ path('admin') }}" >
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'security.login.submit'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
